*{
    margin: 0;
    padding: 0;
}

.theme-light{
    $background-color: #f7d0ee;
    $background-color2: #333;
    $text-color: #000;
    $text-color2: #fff;
  
    .header{
        background-color: $background-color;
        color:$text-color;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;

        nav{
            ul{
                list-style-type: none;
                display: flex;
                flex-direction: row;
                li{
                    margin-right: 8px;
                    a{
                        text-decoration: none;
                        font-weight: 400;
                        color:$text-color;
                    }
                }
            }
        }
    }

    .content-wrap{
        display: flex;
        flex-direction: row;
        width: 100%;
        aside{
            width: 15%;
            min-height: 85vh;
            display: flex;
            justify-self: end;
        }
        main{
            width:85%;
            min-height: 85vh
        }

    }

    .footer{
        border-top: 2px solid #a22;
        background-color: $background-color2;
        color:$text-color2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        bottom: 0;
        position: relative;
    }
}

.theme-dark{
    
    .header{
        background-color: #490240;
        color:#ffffff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;

        nav{
            ul{
                list-style-type: none;
                display: flex;
                flex-direction: row;
                li{
                    margin-right: 8px;
                    a{
                        text-decoration: none;
                        font-weight: 400;
                        color:#fff;
                    }
                }
            }
        }
    }
    .content-wrap{
        display: flex;
        flex-direction: row;
        width: 100%;
        aside{
            width: 15%;
            min-height: 80vh;
            display: flex;
            justify-self: end;
        }
        main{
            width:85%;
            min-height: 80vh
        }

    }

    .footer{
        border-top: 2px solid #a22;
        background-color: #000;
        color:#fff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        bottom: 0;
        position: relative;
    }
}